@import "iconfont.css";
$top_nav_background:#333;
$top_nav_font:#ccc;
$main_nav_background:#fff;
$logo_blue:#15a8e0;
$icon_black:#666;
$nav_black:#333;
$main_background: #f6f6f6;
$bottom_black:#414141;
$bottom_white:#aaaaaa;
$main_background:#f6f6f6;
$grey_border:#ccc;
$white_background:#fff;
$black_font:#333;

html,body,ol,ul,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
body, button, input, select, textarea {
    outline: 0;
}
ol, ul {
    list-style: none;
}
body{
    font-size: 60%;
}
a{
    text-decoration: none;
    color:$nav_black;
}
i{
    color:$logo_blue;
    height: 20px;
    width: 20px;
}

.row{
    width: 1200px;
    margin-right: auto;
    margin-left:auto;
    position: relative;
}

@mixin top_nav_a{ 
    a{
        color:$top_nav_font;
        margin-right:20px;
        line-height: 35px;
    }
    a:hover{
        font-weight: bold;
        color:white;
    }
}
@mixin change_nav_color{
    color: $logo_blue;
    border-bottom: 3px solid $logo_blue;
}

@mixin drop_down_type{
     .drop_down_menu{
        padding: 3px 13px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
        .drop_down_item{
            display: block;
            color: #999;
            text-align: center;
            line-height: 38px;
            border-top: 1px solid #ddd;
            white-space: nowrap;
        }
        a:hover{
            color:$logo_blue;
        }
    }
}
@mixin clearfix{
    .clearfix:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "\20 ";
        clear: both;
        height: 0;
    }
}

.header{
    position:relative;
    z-index: 199;
    .top_nav{
        position:relative;
        height: 36px;
        background-color:$top_nav_background;
        z-index: 104;
        min-width: 1200px;
        .top_row{
            @extend .row;
            font-size:12px;
            img{
                float: left;
                margin-top:2px;
                width: 12%;
            }
            .right{
                float: right;
                height: 36px;
                .before_login{
                    float:left;
                    @include top_nav_a;
                }
                .after_login{
                    float: left;
                    .user_center{
                        color: #ccc;
                        float: left;
                        line-height: 35px;
                        margin-right: 30px;
                        @include top_nav_a;
                        a{
                            margin: 0;
                        }
                        a:hover{
                            font-weight: normal;
                        }
                        .drop_down_block{
                            position: absolute;
                            z-index: 105;
                            vertical-align: middle;
                            display: none;
                            margin-left: -15px;
                           @include drop_down_type;
                        }
                    }
                }
                .always_show{
                    float:right;
                    @include top_nav_a;
                }

            }
        }
        .top_row:after{
            content: " ";
            display: table;
            clear: both;
        }
    }
    .main_nav{
        background-color: $main_nav_background;
        .init_main{
            box-shadow: 0 0 3px 1px rgba(51,51,51,.1);
            width: 100%;
            height: 150px;
            min-width: 1200px;
            .main_row{
                @extend .row;
                .main_logo{
                    height: 90px;
                    width: 270px;
                    background-image: url(../images/logo.png);
                    background-size:270px;
                    background-repeat: no-repeat;
                    background-position: -10px -5px;
                    position: absolute;
                    top: 50px;
                    left: 438px;
                    z-index: 102;
                }
                .inner_main{
                    position:relative;
                    z-index: 103;
                    .main_search{
                        position:relative;
                        margin-top: 65px;
                        float: right;
                        width: 415px;             
                        padding-top: 10px;
                        z-index: 104;
                        a{
                            float: right;
                            padding-left: 20px;
                        }
                        .search_bar{
                            float: right;
                            padding-left: 20px;
                            .search_button{
                                cursor: pointer;
                                float: right;
                            }
                            .search_input{
                                border: none;
                                border-bottom: 1px solid $logo_blue;
                                line-height: 23px;
                                color: #333;
                                width: 220px;
                                height: 23px;
                                float: right;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

        }
    }
    .fixed_nav{
        background-color: $main_nav_background;
        border-bottom:1px solid $top_nav_font;
        min-width: 1200px;
            .row{
                @extend .row;
                .smalllogo{
                    height: 40px;
                    width: 120px;
                    background-image: url(../images/logo.png);
                    background-size:120px;
                    background-position: 1px 2px;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    display: none;
                }
                .inner_main{
                    position:relative;
                    z-index: 103;
                    .nav_ul{
                        float: left;
                        line-height: 1;
                        height: 30px;
                        padding:20px 0;
                        .nav_li{
                            float: left;
                            padding: 6px 50px 0;
                            font-size: 14px;  
                            height: 60px;
                            .nav_dropdown{
                                position: absolute;
                                z-index: 101;
                                top: 21px;
                                left: 0;
                                width: 300%;
                                margin-left: -100%;
                                background-color: #fff;
                                margin-top:50px;
                                display: none;
                                border-bottom: 1px solid $grey_border;
                                .card_list{
                                    position: relative;
                                    padding-top: 33px;
                                    text-align: center;
                                    .card_item_list{
                                            display: inline-block;
                                            white-space: nowrap;
                                            width: 1050px;
                                            .item{
                                                    float: left;
                                                    margin:0 50px;
                                                    margin-bottom: 30px;
                                                    vertical-align: middle;
                                                    width: 44px;
                                            }
                                    }
                                }
                            }
                        }
                        .first{
                            margin-left: 50px;
                            padding-left: 30px;
                        }
                        a{
                            position: relative;
                            display: block;
                            padding-bottom: 6px;
                            font-weight: 600;
                        }
                        a:hover{
                            @include change_nav_color;
                        }
                        .active{
                            a{
                                @include change_nav_color;
                            }
                        }
                        
                    }
                   .user_info{
                        float: right;
                        margin: 25px 0 0;
                        display: none;
                        .before_login_s{
                            font-size: 12px;
                            float: left;
                            a{
                                color: #333;
                                margin-right: 20px;
                            }
                            a:hover{
                                font-weight: bold;
                            }
                        }
                        .after_login_s{
                            float: left;
                            margin: -2px 20px 0 0;
                            height: 50px;
                            .user_center_s{
                                float: left;
                                .drop_down_block_s{
                                    font-size: 12px;
                                    display: none;
                                    position: absolute;
                                    right: 56px;
                                    top: 48px;
                                    @include drop_down_type;
                                }
                            }

                        }
                        .always_show_s{
                            float: right;
                            margin: -2px 20px 0 0;
                            a{
                                #plus_s{
                                    position: relative;
                                    top: -8px;
                                    left: -8px;
                                    color:complement($logo_blue);
                                }
                            }
                        }

                   }
                }
                .inner_main:after{
                    content: " ";
                    display: table;
                    clear: both;
                }
            }
            .main_row:after{
                content: " ";
                display: table;
                clear: both;
            }
    }
}

.main{
    position:relative;
    z-index:10;
    .row{
       @extend .row; 
    } 
}

.footer{
    border-top: 1px solid $grey_border;
    background-color: #fff;
    min-width: 1200px;
    .footer_top{
        @extend .row;
        .row{
            .intro_list{
                padding: 40px 0;
                border-bottom: 1px solid $bottom_white;
                zoom: 1;
                .clearfix{
                    li{
                        float: left;
                        width: 25%;
                        text-align: center;
                        font-size: 18px;
                        .icon_bottom{
                            font-size: 40px;
                        }
                        .icon_info{
                            margin-top:10px;
                        }
                    }
                }
                @include clearfix;
            }
        }
    }
    .footer_bottom{
        background-color: $bottom_black;
        margin: 0;
        width: 100%;
        padding:50px 0;
        min-width: 1200px;
        @extend .row;
        .row{
            .clearfix{
                .left_bottom{
                    float: left;
                    width: 25%;
                    text-align: center;
                    .logo_bottom{
                        margin-top: 10px;
                        height: 60px;
                        width: 150px;
                        background-image: url(../images/logo2.png);
                        background-size:150px;
                        background-repeat: no-repeat;
                        background-position: -10px -5px;
                        position: absolute;
                    }
                }
                .right_bottom{
                    margin-left: 5%;
                    width: 60%;
                    border-left: 1px solid $bottom_white;
                    float: right;
                    text-align: left;
                    padding: 0 5%;
                    color: $bottom_white;
                    .bottom_title{
                        font-size:18px;
                    }
                    .bottom_content{
                        font-size: 12px;
                        margin-top:5px;
                        a{
                            color:$bottom_white;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            @include clearfix;
        }
    }
}
#fixed {  
    position: fixed;  
    width: 100%;
    top:0;
    left: 0;
    z-index: 1000;
    min-width: 1200px;
}  

#dropdown{
    color: $top_nav_font;
    height: 12px;
    width: 12px;
}
.icon_top{
    font-size: 20px;
    font-weight: 600;
}

.url_nav_drop{
    border: none!important;
    color:$nav_black!important;
    .icon_nav_drop{
        height: 50px;
        width: 50px;
        font-size: 36px;
        vertical-align: top;
        font-weight: 400;
    }
    .title_nav_drop{
        font-size: 14px;
        line-height: 1;
        width: 100px;
        margin-left:-28px;
        margin-top: 10px;
        font-weight: 600;
    }
}
.url_nav_drop:hover{
    text-decoration: none;
    border: none!important;
    color:$logo_blue!important;
}

.toolbox{
    position: fixed;
    right:0;
    bottom: 20px;
    z-index: 9900;
    background-color:$white_background;
    border: 1px solid $grey_border;
    .tool_item{
        a{
            width: 70px;
            height: 70px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            
            .icon_right{
                color: $black_font!important;
                font-size: 40px;
            }
        }
        .go_to_top{
            border-bottom: 1px solid $grey_border;
        }
    }
}
.user_center a{
    min-width: 40px;
    display: block;
    text-align: center;
}
#user_info_manage,#user_orders_manage,#user_address_manage,#user_favorite,#user_security{
    display: none;
}
